.submit{
	padding: 0 14px 0;
}
#submit{
	padding: 0 14px 0;
}
.button {
	padding: 0 14px 0;
}
.post input[type=text]{
	padding: 15px 10px 0 10px;
}
.file-load-block input[type=text] {
	top: 10px;
}
.entry-content img {
	width: auto; 
	max-width: 560px;
	height: auto; 
}
.wp-caption {
	width: 559px !important;
	max-height: auto !important;
    margin-bottom: 4px;
    margin-right: 0 !important;
}
